.form-container{
    position: relative;
    background: white;
    border: 1px solid black;
    padding: 2rem;
    margin: 1rem;
    border-radius: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.step-number{
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.button-container{
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}
.form-wrapper > h2{
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
}
.form-wrapper > div{
    display: grid;
    gap: 1rem 0.5rem;
    justify-content: flex-start;
    grid-template-columns: auto minmax(auto, 400px);
}